$secondary-color: #e4f2ee;

.main {
  width: 100%;
  height: 61.5em;
  border: 1px solid red;
  row-gap: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.brand-item-box {
  width: 100%;
  height: 15em;
  overflow: hidden;
  box-shadow: inset 0px -30px 29px #4e4e4e;
  border: 1px solid black;
  margin: 0 auto;
  .badge {
    width: 60px;
    height: 20px;
    transform: skew(30deg, -40deg);
    background-color: #7cb4ec;
    color: aliceblue;
    font-size: 0.7rem;
    text-align: center;
    position: relative;
    right: 5px;
    top: 5px;
    box-shadow: inset 6px -2px 5px #e4f2ee;
  }

  figure {
    width: 100%;
    height: 95%;
    margin: -15px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      position: relative;
      transform: rotate(-28deg);
      z-index: -1;
    }

    .phone {
      top: -5px;
      width: calc(230px * 0.8);
      height: calc(430px * 0.7);
    }

    .camera {
      width: calc(250px * 0.9);
      height: calc(230px * 0.7);
      transform: rotate(360deg);
      top: -9px;
      border: 1px solid black;
    }

    .beats {
      width: 99%;
      transform: rotate(360deg);
      bottom: 11px;
    }

    .oculus {
      width: calc(590px * 0.6);
      height: calc(340px * 0.4);
      transform: rotateY(180deg);
      margin: 60px auto;
    }
    figcaption {
      font-weight: 500;
      font-size: medium;
      position: absolute;
      z-index: 3;
      top: 240px;
      color: #e4f2ee;
      font-weight: 700;
      font-size: 0.95rem;
    }
  }
}

.brand-item-box2 {
  width: 99%;
  height: 49%;
  position: relative;
  overflow: hidden;
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;

  .brand-label {
    width: 190px;
    position: absolute;
   //  right: -10px;
   top: -210px;
    z-index: 14;
    border: 1px solid black;
    h4 {
      color: #4467c9;
      font-size: 0.9rem;
    }
  }

  .macbook {
    width: calc(350px * 0.5);
    height: calc(240px * 0.5);
    z-index: 3;
    position: relative;
    transform: rotate(-30deg);
    right: -30px;
    top: 20px;
  }
  .watch {
    width: calc(350px * 0.5);
    height: calc(390px * 0.5);
    z-index: 3;
    position: relative;
    transform: rotate(15deg);
    right: -30px;
    top: 5px;
  }
}

@media only screen and (min-width: 768px) {
  .main {
    height: 480.5px;
    width: 530.5px;
    column-gap: 0.5em;
    margin: 0 auto;
  }
  .brand-item-box {
    width: 260px;
    height: 240px;
    overflow: hidden;
    box-shadow: inset 0px -30px 29px #4e4e4e;
    margin: 0 auto;
    .badge {
      width: 60px;
      height: 20px;
      transform: skew(30deg, -40deg);
      background-color: #7cb4ec;
      color: aliceblue;
      font-size: 0.7rem;
      text-align: center;
      position: relative;
      right: 5px;
      top: 5px;
      box-shadow: inset 6px -2px 5px #e4f2ee;
    }

    figure {
      width: 100%;
      height: 95%;
      margin: -15px auto;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        position: relative;
        transform: rotate(-28deg);
        z-index: -1;
      }

      .phone {
        top: 20px;
        width: calc(300px * 0.7);
        height: calc(490px * 0.7);
      }

      .camera {
        width: calc(350px * 0.6);
        height: calc(330px * 0.5);
        transform: rotate(360deg);
        top: -9px;
        border: 1px solid black;
      }

      .beats {
        width: 99%;

        transform: rotate(360deg);
        bottom: 48px;
      }

      .oculus {
        width: calc(590px * 0.6);
        height: calc(340px * 0.4);
        transform: rotateY(180deg);
        margin: 60px auto;
      }
      figcaption {
        font-weight: 500;
        font-size: medium;
        position: absolute;
        z-index: 3;
        top: 240px;
        color: #e4f2ee;
        font-weight: 700;
        font-size: 0.95rem;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .main {
    height: 480.5px;
    width: 39em;
    column-gap: 0.5em;
    margin: 0 auto;
  }
  .brand-item-box {
    width: 19em;
    height: 240px;
    overflow: hidden;
    box-shadow: inset 0px -30px 29px #4e4e4e;
    .badge {
      width: 60px;
      height: 20px;
      transform: skew(30deg, -40deg);
      background-color: #7cb4ec;
      color: aliceblue;
      font-size: 0.7rem;
      text-align: center;
      position: relative;
      right: 5px;
      top: 5px;
      box-shadow: inset 6px -2px 5px #e4f2ee;
    }

    figure {
      width: 100%;
      height: 95%;
      margin: -15px auto;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        position: relative;
        transform: rotate(-28deg);
        z-index: -1;
      }

      .phone {
        top: 20px;
      }

      .camera {
        width: calc(250px * 0.6);
        height: calc(250px * 0.5);
        transform: rotate(360deg);
        top: -9px;
      }

      .beats {
        width: 99%;

        transform: rotate(360deg);
        bottom: 28px;
      }

      .oculus {
        width: calc(290px * 0.6);
        height: calc(240px * 0.4);
        transform: rotateY(180deg);
        margin: 60px auto;
      }
      figcaption {
        font-weight: 500;
        font-size: medium;
        position: absolute;
        z-index: 3;
        top: 240px;
        color: #e4f2ee;
        font-weight: 700;
        font-size: 0.95rem;
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .main {
    height: 540.5px;
    width: 756.5px;
    row-gap: 0.5em;
    margin: 0 auto;
  }
  .brand-item-box {
    width: 370px;
    height: 270px;
    overflow: hidden;
    box-shadow: inset 0px -30px 29px #4e4e4e;
    .badge {
      width: 60px;
      height: 20px;
      transform: skew(30deg, -40deg);
      background-color: #7cb4ec;
      color: aliceblue;
      font-size: 0.7rem;
      text-align: center;
      position: relative;
      right: 5px;
      top: 5px;
      box-shadow: inset 6px -2px 5px #e4f2ee;
    }

    figure {
      width: 100%;
      height: 95%;
      margin: -15px auto;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        position: relative;
        transform: rotate(-28deg);
        z-index: -1;
      }

      .phone {
        top: 20px;
      }

      .camera {
        width: calc(250px * 0.6);
        height: calc(250px * 0.5);
        transform: rotate(360deg);
        top: -9px;
      }

      .beats {
        width: 99%;

        transform: rotate(360deg);
        bottom: 28px;
      }

      .oculus {
        width: calc(290px * 0.6);
        height: calc(240px * 0.4);
        transform: rotateY(180deg);
        margin: 60px auto;
      }
      figcaption {
        font-weight: 500;
        font-size: medium;
        position: absolute;
        z-index: 3;
        top: 240px;
        color: #e4f2ee;
        font-weight: 700;
        font-size: 0.95rem;
      }
    }
  }
}
