.preview-img {
  filter: drop-shadow(9px 5px 6px #4e4e4e);
}

.product-details {
  font-size: 0.8rem;
}

.item-images {

  width: 99%;
  height: 40%;
  overflow: hidden;
  display: flex;
}

.image-box:hover  {

    border: 1px dotted black;
   
  
}

@media only screen and (min-width: 600px) {
  .product-details {
    font-size: 0.8rem;
  }
  .item-images {
   // border: 1px solid black;
    width: 99%;
    height: 120px;
    overflow: hidden;
    display: flex;
  }

}

@media only screen and (min-width: 810px) {
  .item-images {
    border: 1px solid black;
    width: 99%;
    height: 40%;
    overflow: hidden;
    display: flex;
  }

  .item-details {
    border: 1px solid red;
    width: 99%;
    height: 60%;
  }
  .product-details {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 1024px) {
  .product-details {
    font-size: 0.78rem;
    padding-left: 0.2rem;
  }
  .item-images {
    border: 1px solid black;
    width: 99%;
    height: 35%;
    overflow: hidden;
    display: flex;
  }
  .item-details {
    border: 1px solid red;
    width: 99%;
    height: 65%;
  }
  .product-details {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 1280px) {
  .item-images {
    border: 1px solid black;
    width: 99%;
    height: 30%;
    overflow: hidden;
    display: flex;
  }

  .item-details {
    border: 1px solid red;
    width: 99%;
    height: 60%;
  }
  .product-details {
    font-size: 0.9rem;
  }
}
