$primary-color: #709ad2;
$secondary-color: #e4f2ee;

@mixin nav-bar($pos) {
  width: 100%;
  position: fixed;
  top: 0;
  transition: 0.35s ease-in-out;
  z-index: 9999;
}

.App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1.4px;
  scroll-behavior: smooth;
  overflow: hidden;
}
.scrolled {
  @include nav-bar(fixed);
  filter: drop-shadow(3px -1px 15px #4e4e4e);
}

.current {
  @include nav-bar(relative);
}
.close {
  width: 0;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s linear;
}

.open {
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  position: absolute;
  background-color: rgba(215, 195, 275, 0.75);
  border: 1px solid black;
  z-index: 11;
  opacity: 1;
  cursor: pointer;
}

.footer-box {
  background-color: #4467c9;
  color: #e4f2ee;
  .top-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;

    text-align: center;
  }
}

.footer {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 0.5rem;
  background-color: $primary-color;
}

.top-nav {
  filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.1));
}

.pages {
  border: 1px solid green;
  width: 100%;
  height: 80%;
  overflow: hidden;
  position: relative;
}

@media only screen and (min-width: 600px) {
  .pages {
    border: 1px solid red;
    width: 100%;
    height: 70%;
    overflow: hidden;
  }
  .footer {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 0.5rem;
    background-color: $primary-color;
  }
}
@media only screen and (min-width: 768px) {
  .pages {
    border: 1px solid green;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .open {
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
    position: absolute;
    background-color: rgba(215, 195, 275, 0.75);

    z-index: 11;
    opacity: 1;
    cursor: pointer;
  }

  .footer-box {
    background-color: #4467c9;
    color: #e4f2ee;
    .top-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;

      text-align: center;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 0.5rem;
    background-color: $primary-color;
  }
}
@media only screen and (min-width: 1024px) {
  .open {
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
    position: absolute;
    background-color: rgba(215, 195, 275, 0.75);

    z-index: 11;
    opacity: 1;
    cursor: pointer;
  }
}
@media only screen and (min-width: 1280px) {
  .open {
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
    position: absolute;
    background-color: rgba(215, 195, 275, 0.75);

    z-index: 11;
    opacity: 1;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1348px) {
  .open {
    width: 100%;
    height: 139.4%;
    transition: all 0.3s linear;
    position: absolute;
    background-color: rgba(215, 195, 275, 0.75);

    z-index: 11;
    opacity: 1;
    cursor: pointer;
  }
}
